<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <property name="LOGS_PATH" value="./logs"/>-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}|%p|%thread-%C-%L|%msg%n</pattern>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
